@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .hero-block .hero-title {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {

    /* Header Section */
    header .top-header .left-block {
        display: none;
    }

    header .top-header .d-flex {
        justify-content: flex-end;
    }

    header .header-menu .hamburger-button,
    header .header-menu .menu-block .close-button {
        display: block;
    }

    header .header-menu .menu-block {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--primary-color);
        width: 50%;
        height: 100%;
        z-index: 999;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
header .header-menu .menu-block.open{
    transform: translateX(0);
}
    .menu-section::after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0 0 0 /50%);
        backdrop-filter: blur(4px);
        z-index: 99;
    }

    header .header-menu .menu-block ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 100px 50px;
        margin: 0;
    }

    /* Header Section End */

    /*  Banner Section */
    .hero-block .hero-title {
        padding: 0 20px;
    }

    /*  Banner Section End */
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 420px) {}

@media only screen and (max-width: 350px) {}